<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>TITOLO PRIMA PAGINA DA VEDERE NELLA BARRA DI SOPRA</title>
    <meta name="description" content="Page Conferma Pagamento">
    <meta name="author" content="Bruna & Imbrea">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="header">
        <div id="top-nav">
            <button onclick="window.location.href='/dati-bollettino'">Ciao</button>
        </div>
    </div>

    <div id="main">
        <h1>TITOLO</h1>
    </div>

    <div id="footer"></div>
	<!-- end of the body -->
	<script src="js/main.js"></script>
</body>
</html>