<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>TITOLO PRIMA PAGINA DA VEDERE NELLA BARRA DI SOPRA</title>
    <meta name="description" content="Homepage Pagamento Bollettini">
    <meta name="author" content="Bruna & Imbrea">
    <link rel="stylesheet" href="Z:\Bollettino-App\bollettino-app\esercizio_bollettini\src\main\resources\css\style.css">
</head>
<body>
    <div class="top-nav">
        <a href="#dati-bolletino">Pagamenti</a>
    </div>

    <div>
        <h1>TITOLO</h1>
    </div>

    <div class="bottom-nav"></div>
    <!-- end of the body -->
    <script src="js/main.js"></script>
</body>
</html>

